@font-face 
{
  font-family: 'SOV_Nophamas';
  src: url('fonts/SOV_Nophamas.ttf') format('truetype');
}

@font-face 
{
  font-family: 'Asangha-Thin';
  src: url('fonts/Asangha-Thin.otf') format('opentype');
}

*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body
{
  background: rgb(15, 15, 15);
  overflow-x: hidden;
  cursor: none;
}

.head
{
  background-image: url('pictures/wow.png');
  width: 110%;
  height: 760px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}


header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scrolling-active
{
    background-color: rgb(19, 19, 19);
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
}

header .logo
{
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
}
header ul li a:hover, 
header ul li a.active
{
    background: #fff;
    color: rgb(0, 0, 0);
    
}

.sex
{
  font-size: 20rem;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.ptxt
{
  position: absolute;
  width: 100%;
  text-align: center;
  color: rgb(214, 190, 84);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  font-size: 8rem;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-family:SOV_Nophamas;
}

.tong img
{
  position: absolute;
  width: 40%;
  height: 50%;
  top: 25%;
  left: 40%;
  transform: rotate(15deg)
}

.tong1 img
{
  position: absolute;
  width: 40%;
  height: 50%;
  top: 26%;
  left: 20%;
  transform: rotate(190deg)
}

.nom img
{
  position: absolute;
  width: 30%;
  height: 60%;
  top: 5%;
  left: 35%;
}

.sec
{
    position: relative;
    padding: 100px;
    height: 900px;

}
.sec h2
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}
.sec p
{
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    width: 60%;
}

.sec img
{
  position: absolute;  
  width: 30%;
  left: 70%;
  top: 20%;

}


.smt
{
  position: relative;
  padding: 100px;

}
.smt h3
{
  top: 30%;
  font-size: 3.5em;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
}
.smt p
{
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    width: 60%;
}

::-webkit-scrollbar {
      width: 15px;
    }

    ::-webkit-scrollbar-track {
      background: rgb(19, 19, 19);
    }

    ::-webkit-scrollbar-thumb {
      background: #ffffff;
      border-radius: 20px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #c2c2c2;
    }